.idea

.DS_Store
Thumbs.db

/docker/nginx/ssl/ssl-cert-snakeoil.key
/docker/nginx/ssl/ssl-cert-snakeoil.pem
/var/*
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/docker/*

/vendor
/.env
